.rainbowlight {
  width: 100%;
  height: 100%;
  animation: pulselight 5s infinite;
}

@keyframes pulselight {
  0% {
    background-color: #b4d8fc;
  }
  25% {
    background-color: #e899d3;
  }
  50% {
    background-color: #f5ebb8;
  }
  75% {
    background-color: #abf0d0;
  }
  100% {
    background-color: #c5c2ef;
  }
}
.rainbowdark {
  width: 100%;
  height: 100%;
  animation: pulsedark 5s infinite;
}

@keyframes pulsedark {
  0% {
    background-color: #272833;
  }
  25% {
    background-color: #4d4f66;
  }
  50% {
    background-color: #715b8f;
  }
  75% {
    background-color: #5f8594;
  }
  100% {
    background-color: #272833;
  }
}
.shine-cursor-container {
  pointer-events: none; /* To prevent the cursor container from capturing mouse events */
  z-index: 0;
  position: fixed; /* Keep the cursor container fixed on the screen */
}

.shine {
  height: 500px;
  width: 500px;
  background: radial-gradient(
    circle,
    rgba(248, 126, 110, 0.322) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; /* Keep the inner Shine element as absolute */
}

.noisyDark {
  background-image: radial-gradient(
      circle at 67% 46%,
      rgba(0, 13, 41, 0.54),
      rgba(21, 26, 35, 1)
    ),
    url(/public/assets/images/noise.png);
}

.noisyLight {
  background-image: radial-gradient(
      circle at 67% 46%,
      rgba(255, 227, 227, 0.48),
      rgba(255, 255, 255, 1)
    ),
    url(/public/assets/images/noise.png);
}
